	<fieldset>
		<ul>
			<li>
				<label>Name</label>
				<%= f.text_field :name %>
			</li>
			<li>
				<label>Phone</label>
				<%=f.phone_field :phone %>
			</li>
			<li>
				<label>Email</label>
				<%= f.email_field :email %>
			</li>
		</ul>
	</fieldset>