<article>
	<header>
		<h1>Add an Auctioneer</h1>
	</header>
	<%= render 'shared/errors', object: @auctioneer %>
	<%= form_with(model:@auctioneer, local:true) do |f| %>
		<%= render "auctioneer_fields", f:f%>
	<%= f.submit %>
	<% end %>
</article>
