<article>
	<header>
		<h1>Auction House's</h1>
	</header>
	<table>
	<% @houses.each do |house| %>
		<tr>
			<td>
				<%= house.name %>	
			</td>
			<td>
				<%=link_to 'edit', edit_house_path(house) %>
			</td>
			<td>
				<% if house.siteinfo? %>
					(site id)
				<% end %>
			</td>
			
		</tr>
	<% end %>
	</table>
</article>
<% content_for(:side_links) do %>
	<li class='contextual'>
		<%=link_to 'new house', new_house_path %>
	</li>	
<% end %>

