<header>
	<h1>Auction House's</h1>
</header>
<article>
	<% @houses.each do |house| %>
		<div class="house">
			<%= house.name %>	<%=link_to 'edit', edit_house_path(house) %>
		</div>
	<% end %>
</article>

<% content_for(:side_links) do %>
	<nav>
		<li>
			<%=link_to 'new house', new_house_path %>
		</li>
	</nav>
<% end %>