<header>
	<h1>Create New House</h1>
</header>
<article>
	<%= render 'shared/errors', object: @house %>
	<%=form_with(model:@house, local:true) do |f| %>
		<%= render 'house_fields', f:f%>
		<%= f.submit %>
	<% end %>
</article>

