<div class="client-details">
	<table>
		<tr>
			<td>telephone</td>
			<td><%= @seller.phone%></td>
		</tr>
		<tr>
			<td>email</td>
			<td><%= @seller.email%></td>
		</tr>
		<tr>
			<td>commision rate</td>
			<td><%= @seller.commrate%> %</td>
		</tr>	
	</table>
</div>