<header>
	<h1>Add a New Seller</h1>
</header>
<article>
	<%= form_with(model: @seller, local: true, html{ class: 'client'}) do |f| %>
		<%= render "shared/client_fields" %>
		<%= f.submit %>
	<% end %>
</article>