<header>
	<h1><%= @seller.first_and_last_name %></h1>
</header>
<article>
	<%= render "shared/client_profile" %>
</article>

<% content_for(:side_links) do %>
	<nav>
		<ul>
			<% unless controller.action_name == "new" %>
			<li>
				<%=link_to 'new seller', new_seller_path %>
			</li>	
			<% end %>
			<% unless controller.action_name == "index" %>
			<li>
				<%=link_to 'sellers list', sellers_path %>
			</li>
			<% end %>
		</ul>
	</nav>
<% end %>
