<header>
	<h1>Client Profile</h1>
	<table>
		<tr>
			<td>Name</td>
			<td>client_profile.first_and_last_name</td>
		</tr>
		<tr>
			<td>Phone</td>
			<td>client_profile.phone</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>client_profile.email</td>
		</tr>
		<tr>
			<td>Commision</td>
			<td>client_profile.commrate</td>
		</tr>
	</table>
</header>