<div class="lot-item">
	<div class="general">
		<div class="image">
			<%= image_tag lot.image.variant(resize: "400x") if lot.image.attached? %>
		</div>
	</div>
	<div class="specifics">
		<h4><%=lot.description%></h4>
		<p>add pictures</p>
	</div>
</div>