<div class="lot-item">
	<div class="specifics">
		<h3><%=simple_format(lot.description)%></h3>

	</div>
	<% if lot.pictures.attached? %>
		<div class="pictures">
			<% lot.pictures.each do |picture| %>
				<div class="lot-pictures">
					<%= link_to image_path(url_for(picture)),class:'swipebox' do %>
						<%= image_tag picture %>
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>