<div class="lot-item">
	<div class="image">
		<%= image_tag lot.image.variant(resize: "400x") if lot.image.attached? %>
	</div>
	<div class="specifics">
		<h3><%=simple_format(lot.description)%></h3>
	</div>
	<% if lot.pictures.attached? %>
		<div class="pictures">
			<% lot.pictures.each do |picture| %>
				<div class="lot-pictures">
					<%= image_tag picture.variant(resize: "200x")  %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>