<div class="lot-item">
	<div class="image">
		<%= image_tag lot.image.variant(resize: "400x") if lot.image.attached? %>
	</div>
	<div class="specifics">
		<h4><%=simple_format(lot.description)%></h4>
	</div>
	<% if lot.pictures.attached? %>
		<div class="pictures">
			<% lot.pictures.each do |picture| %>
				<%= image_tag picture.variant(resize: "200x")  %>
			<% end %>
		</div>
	<% end %>
</div>