<article>
	<header>
		<h1>About the auction.</h1>
	</header>
	<div class="paragraph">
		<p>Much like any other auction you'll submit your best bid for the lot, at the end of the auction you'll see the lots you have won on your account page. </p>
		<p>No transactions are processed through the website, all lots are collected in person and settled in cash.</p>
	</div>
</article>