<article>
	<% if @default %>
		<header>
			<h1><%= @default.name%> Auctions.</h1>
		</header>
	<% end %>
	<h2>Welcome about the auction</h2>
	<p></p>
	<h2>Cash only sales.</h2>
	<p>hfhfhhhfh</p>
</article>

