<article>
	<header>
		<h1>Welcome to the Auction.</h1>
	</header>
	<div class="paragraph">
		<p>You find yourself at the online home of <%= @default.name%>, an invitation only trade based auction.</p>
		<p>Should you wish to paticipate you'll need to call the number below, should you already be a member use the menu to log in to your buyer or seller account.</p>
	</div>
</article>

