<div class="client-details">
	<table class='contact'>
		<tr>
			<td><i class="fas fa-phone"></i></td>
			<td><%= @buyer.phone%></td>
		</tr>
		<tr>
			<td><i class="far fa-envelope"></i></td>
			<td><%= @buyer.email%></td>
		</tr>
		<tr>
			<td><i class="fas fa-percent"></i></td>
			<td><%= @buyer.commrate%></td>
		</tr>	
	</table>
</div>