<div class="client-details">
	<table>
		<tr>
			<td>telephone</td>
			<td><%= @buyer.phone%></td>
		</tr>
		<tr>
			<td>email</td>
			<td><%= @buyer.email%></td>
		</tr>
		<tr>
			<td>commision rate</td>
			<td><%= @buyer.commrate%>%</td>
		</tr>	
	</table>
</div>