<header>
	<h1><%= @buyer.first_and_last_name %></h1>
</header>
<article>
	<%= render "client_contact" %>
	<% if @sale %>
		<%=link_to 'bidding card', sale_path(@sale)%>
	<% else %>
		<p>look out for a message advising the next auciton is live</p>
		<p>You can check your phone and email details are correct above</p>
	<% end %>
</article>