tr {
	padding: .5vh 0;
}

tr.highlight {
 font-weight: bold;
}

td {
	margin: 1vh 1vw;
	padding :.5vh .5vw;
}

td.money {
	text-align: right;
}

td.right {
	text-align: right;
}

th.left {
	text-align: left;
}

.current-bidding-info {
	display: none;
}