@import "colours";


/* FLASHES */

.flash {
  color: $flash-text-colour;
  border-radius: 4px;
  padding: 1.5vh 0;
  text-align: center;
  text-transform: uppercase;
  margin: 1vh 0;

  &.notice {
    background-color: $flash-notice-colour;
    color: $primary-text-colour;
  }

  &.alert {
    background-color: $flash-alert-colour;
  }
}

/* ERRORS */

div.errors {
  margin: 1vh 0;
  padding: 2vh 2vw;
  background: $errors-background-colour;

  ul {
    list-style: none;
  }

  h2 {
    color: $errors-text-colour;
    font-size: 1.25em;
  }

  h3 {
    font-size: 1em;
    margin: .5em 0;
    font-weight: bold;
  }
}