@import "colours";

/* for full size screens */
/* the whole viewport */
html {
background-color: $primary-background-colour;	
}


div.wrapper {
display: flex;
flex-direction: column;
line-height: 1.1;
min-height: 100vh;
margin : 2vh 2vw;

}

/* 3 high level parts of the page */

header.header{
	margin-bottom: 1vh;

}
nav.site {
	float: right;
}

nav.site li {
	display: inline-block;
	float: left;
	padding:	1vh 1vw;
	margin: 0 1vw;
}

main.page{
	flex-grow: 1;
	width : 96vw;
}

footer.footer{
margin-bottom: 5vh;
}

/* within main.content */

section {
	display: flex;
	flex-direction: row;
}

article {
	width: 87vw;
	padding: 2vh 2vw;
}

aside {
	width: 15vw;
}

nav.pagination{
	margin:	1vh 0;
}

div.client-details,
div.live-sales,
div.accounts {
	margin: 2.5vh 0 3vh;
}

ul.facts li {
	margin: 0.5vh 1vw;
	padding: 0.5vh 0;
}
ul.facts {
	margin: 2vh 0;
}











