body {
	width: 90%;
	margin:	1em auto;
	padding-top: 2em;
}

section {
	clear : both;
	display: block;
}

section.title{
	padding: 75px;
	border: 5px solid black;
	margin: 50px 0;
	border-radius: 50px;
}
.title h1 {
	font-size: 25rem;
	display: inline-block;
	padding-top: 0;
	margin: 80px ;
}

div.details {
	float :right;
	margin-top: 20px;
}

.details h3 {
	font-size: 8rem;
	margin: 5px 0;
	padding : 15px 0;
	text-align: right;
}



section.specifics {
	margin: 80px;
	text-align: center;
}

section.specifics h3 {
	font-size: 8rem;
	margin: 20px 0;
}

section.specifics p {
	font-size: 5.5rem;
	margin: 10px 0;
}

section.specifics p.cash {
	font-size: 8rem;
	font-weight: bold;
}







table {
	font-size: 7rem;
	width: 100%;
}
td {
	padding: .75em;
}

td.money {
	text-align: right;
}

tr.bold {
	font-weight: bold;
}