body {
	width: 90%;
	margin:	1em auto;
	padding-top: 2em;
}

section {
	clear : both;
	display: block;
}


/* title section*/
	section.title{
		padding: 5px;
		border: 5px solid black;
		padding: 100px 50px;
		border-radius: 25px;
	}
	.title h1 {
		font-size: 2rem;
		display: inline-block;
		padding-top: 0;
		margin: 0px;
	}

	.title table{
		font-size: 1rem;
		float :right;
		margin: 0px;
		width: 35%;
	}

	table.summary td {
		padding : 5px;
	}

	section.specifics {
		text-align: center;
	}

	section.specifics h3 {
		font-size: 2rem;
		margin: 20px 0;
	}

	section.specifics p {
		font-size: 3rem;
		margin: 10px 0;
	}

	section.specifics p.cash {
		font-size: 2rem;
		font-weight: bold;
	}
/* title section end */


/* general table formatting */
	td.money {
		text-align: right;
	}

	tr.bold {
		font-weight: bold;
	}

	tr.total {
		font-weight: bold;
		margin:	100px 0;
		padding: 100px 0;
	}

	td.centre {
		text-align: center;
	}
/* general table formatting */


table.lots{
	padding: 50px;
}


table.lots td {
	margin: 20px 5px;
	padding: 20px 0;
}

.lots th.header {
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
}


.details p {
	font-size: 2rem;
	margin: 5px 0;
	padding : 15px 0;
	text-align: right;
}



h3.title {
	font-size: 3rem;
	margin: 15px 0 0;
	padding : 15px 0 0;
	text-align: left;
}




table.lots {
	border: 5px dashed grey;
	border-radius: 50px;
	margin: 15rem 0;
}





table {
	font-size: 2rem;
	width: 100%;
}
