@import "colours";

div.lot-area{
	margin: 2.5vh 0;
	padding : 1vh 1vw;
	border-radius: 5px;
}

div.sale-lot {

}

div.sale-lot {
	display : flex;
	flex-direction: row;
}

div.sale-image {
width : 20%;
}

div.sale-image img {
	width : 100%;
	border-radius: 5%;
}


div.sale-text {
	flex: 1;
	margin: 0 2vw;
}