@import "colours";

table {
	margin: 1vh 0;
}

tr {
	padding: 1vh 0;
}

tr.highlight {
 font-weight: bold;
}

td {
	margin: 0.5vh 0.5vw;
	padding :1.5vh 1vw;
}

td.money {
	text-align: right;
}

td.right {
	text-align: right;
}

th.left {
	text-align: left;
}

.current-bidding-info {
	display: none;
}

.infos table {
	font-size: .75em;
	margin: 3vh auto;
	width: 96%;
}

.infos table tr {
	padding: 1.25vh 0;
}

.infos table td {
	margin: 0.5vh 0;
	padding: 0.5vh 0;
}

table.contact {
	margin: 2.5vh 5vw;
	font-size: 1.1em;
}

