<article>
	<header>
		<h1>Auction Categories</h1>
	</header>
	<table>
		<% @categories.each do |category| %>
		<tr>
			<td><%= category.title %></td>
			<td><%=link_to 'edit', edit_category_path(category) %></td>
		</tr>
		<% end %>
	</table>
</article>

<% content_for(:side_links) do %>
	<li class='contextual'>
		<%=link_to 'add category', new_category_path %>
	</li>	
<% end %>
