<fieldset>
	<ul>
		<li>
			<label>House</label>
			<%= f.collection_select(:house_id, House.alpha, :id , :name, prompt: "Choose House" ) %>
		</li>
		<li>
			<label>Auction Date</label>
			<%= f.date_select :date, { order: [ :day, :month, :year]} %>
		</li>
		<%=f.fields_for :lot do |lot| %>
			<%= render "shared/lot_form", f: lot %>
		<% end %>
	</ul>
</fieldset>
