<header>
	<h1><%= nice_date(@sale.date) %></h1>	
</header>

<article>
	<table>
		<tr>
			<td>#</td>
			<td>Category</td>
			<td>Image</td>
			<td>Manufacturer</td>
			<td>Model</td>
			<td>Description</td>
			<td>Reserve</td>



			<td>Highest Bid</td>
			<td>2nd Bid</td>


		</tr>
		<% @lots.each do |lot| %>
			<tr>
				<%= render "shared/lot_table", collection: @lots, lot:lot%>
			</tr>
		<% end %>
	</table>
</article>
