<nav class='site'>
	<ul>
		<li>
			<%= link_to 'home', root_path%>
		</li>
		<li>
			<%= link_to 'about', about_path%>
		</li>
		<li>log in</li>
		<li><%= link_to 'profile', buyer_path(1)%></li>
		<li>log out</li>
	</ul>
</nav>
